@font-face {
  font-family: "iconfont"; /* Project id 5125043 */
  src: url('//at.alicdn.com/t/c/font_5125043_wwy3jjjx3zs.woff2?t=1770537313106') format('woff2'),
       url('//at.alicdn.com/t/c/font_5125043_wwy3jjjx3zs.woff?t=1770537313106') format('woff'),
       url('//at.alicdn.com/t/c/font_5125043_wwy3jjjx3zs.ttf?t=1770537313106') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yule:before {
  content: "\e7f1";
}

